.container
	.col-md-12.top-margin
		%h2.text-center.green-text Nuestras Carreras
= render "layouts/carrera"
.container-fluid.no-space.top-margin-md
	.col-md-12.no-space.bg-gray
		.col-md-4.no-space=image_tag "derecho.jpg", width: 400, height: 220, class: ""
		.col-md-1
		.col-md-6
			%h2.top-margin.white-text.text-center Licenciatura en Derecho
.container
	.col-md-12
		.col-md-5
		.col-md-7.top-margin
			%h4.text-info Que aprenderás en esta carrera?
			.col-md-1
			.col-md-11.gray-text
				%p Aqui te desarrollaras como profesional en el area de leyes. Aqui te desarrollaras como profesional en el area de leyes. Aqui te desarrollaras como profesional en el area de leyes. Aqui te desarrollaras como profesional en el area de leyes. Aqui te desarrollaras como profesional en el area de leyes.
				%ul
					%li Aqui te desarrollaras como profesional en el area de leyes.
					%li Aqui te desarrollaras como profesional en el area de leyes.
					%li Aqui te desarrollaras como profesional en el area de leyes.
					%li Aqui te desarrollaras como profesional en el area de leyes.
					%li Aqui te desarrollaras como profesional en el area de leyes.
					%li Aqui te desarrollaras como profesional en el area de leyes.
.container-fluid.no-space.top-margin-md
	.col-md-12.no-space.bg-gray
		.col-md-1
		.col-md-6
			%h2.top-margin.white-text.text-center Licenciatura en Educación
		.col-md-1
		.col-md-4.text-right.no-space=image_tag "educacion.jpg", width: 400, height: 220, class: ""
.container
	.col-md-12
		.col-md-8.top-margin
			%h4.text-info Que aprenderás en esta carrera?
			.col-md-1
			.col-md-11.gray-text
				%p Aqui te desarrollaras como profesional en el area de leyes. Aqui te desarrollaras como profesional en el area de leyes. Aqui te desarrollaras como profesional en el area de leyes. Aqui te desarrollaras como profesional en el area de leyes. Aqui te desarrollaras como profesional en el area de leyes.
				%ul
					%li Aqui te desarrollaras como profesional en el area de leyes.
					%li Aqui te desarrollaras como profesional en el area de leyes.
					%li Aqui te desarrollaras como profesional en el area de leyes.
					%li Aqui te desarrollaras como profesional en el area de leyes.
					%li Aqui te desarrollaras como profesional en el area de leyes.
					%li Aqui te desarrollaras como profesional en el area de leyes.
.container-fluid.no-space.top-margin-md
	.col-md-12.no-space.bg-gray
		.col-md-4.no-space=image_tag "psicologia.jpg", width: 400, height: 220, class: ""
		.col-md-1
		.col-md-6
			%h2.top-margin.white-text.text-center Licenciatura en Psicología
.container
	.col-md-12
		.col-md-5
		.col-md-7.top-margin
			%h4.text-info Que aprenderás en esta carrera?
			.col-md-1
			.col-md-11.gray-text
				%p Aqui te desarrollaras como profesional en el area de leyes. Aqui te desarrollaras como profesional en el area de leyes. Aqui te desarrollaras como profesional en el area de leyes. Aqui te desarrollaras como profesional en el area de leyes. Aqui te desarrollaras como profesional en el area de leyes.
				%ul
					%li Aqui te desarrollaras como profesional en el area de leyes.
					%li Aqui te desarrollaras como profesional en el area de leyes.
					%li Aqui te desarrollaras como profesional en el area de leyes.
					%li Aqui te desarrollaras como profesional en el area de leyes.
					%li Aqui te desarrollaras como profesional en el area de leyes.
					%li Aqui te desarrollaras como profesional en el area de leyes.
.container-fluid.no-space.top-margin-md
	.col-md-12.no-space.bg-gray
		.col-md-1
		.col-md-6
			%h2.top-margin.white-text.text-center Licenciatura en Ciencias Forenses
		.col-md-1
		.col-md-4.text-right.no-space=image_tag "forense.jpg", width: 400, height: 220, class: ""
.container
	.col-md-12
		.col-md-8.top-margin
			%h4.text-info Que aprenderás en esta carrera?
			.col-md-1
			.col-md-11.gray-text
				%p Aqui te desarrollaras como profesional en el area de leyes. Aqui te desarrollaras como profesional en el area de leyes. Aqui te desarrollaras como profesional en el area de leyes. Aqui te desarrollaras como profesional en el area de leyes. Aqui te desarrollaras como profesional en el area de leyes.
				%ul
					%li Aqui te desarrollaras como profesional en el area de leyes.
					%li Aqui te desarrollaras como profesional en el area de leyes.
					%li Aqui te desarrollaras como profesional en el area de leyes.
					%li Aqui te desarrollaras como profesional en el area de leyes.
					%li Aqui te desarrollaras como profesional en el area de leyes.
					%li Aqui te desarrollaras como profesional en el area de leyes.
.container-fluid.no-space.top-margin-md
	.col-md-12.no-space.bg-gray
		.col-md-4.no-space=image_tag "social.jpg", width: 400, height: 220, class: ""
		.col-md-1
		.col-md-6
			%h2.top-margin.white-text.text-center Licenciatura en Trabajo Social
.container
	.col-md-12
		.col-md-5
		.col-md-7.top-margin
			%h4.text-info Que aprenderás en esta carrera?
			.col-md-1
			.col-md-11.gray-text
				%p Aqui te desarrollaras como profesional en el area de leyes. Aqui te desarrollaras como profesional en el area de leyes. Aqui te desarrollaras como profesional en el area de leyes. Aqui te desarrollaras como profesional en el area de leyes. Aqui te desarrollaras como profesional en el area de leyes.
				%ul
					%li Aqui te desarrollaras como profesional en el area de leyes.
					%li Aqui te desarrollaras como profesional en el area de leyes.
					%li Aqui te desarrollaras como profesional en el area de leyes.
					%li Aqui te desarrollaras como profesional en el area de leyes.
					%li Aqui te desarrollaras como profesional en el area de leyes.
					%li Aqui te desarrollaras como profesional en el area de leyes.
.container-fluid.no-space.top-margin-md
	.col-md-12.no-space.bg-gray
		.col-md-1
		.col-md-6
			%h2.top-margin.white-text.text-center Maestría en Medicina Legal
		.col-md-1
		.col-md-4.text-right.no-space=image_tag "medicina.jpg", width: 400, height: 220, class: ""
.container
	.col-md-12
		.col-md-8.top-margin
			%h4.text-info Que aprenderás en esta carrera?
			.col-md-1
			.col-md-11.gray-text
				%p Aqui te desarrollaras como profesional en el area de leyes. Aqui te desarrollaras como profesional en el area de leyes. Aqui te desarrollaras como profesional en el area de leyes. Aqui te desarrollaras como profesional en el area de leyes. Aqui te desarrollaras como profesional en el area de leyes.
				%ul
					%li Aqui te desarrollaras como profesional en el area de leyes.
					%li Aqui te desarrollaras como profesional en el area de leyes.
					%li Aqui te desarrollaras como profesional en el area de leyes.
					%li Aqui te desarrollaras como profesional en el area de leyes.
					%li Aqui te desarrollaras como profesional en el area de leyes.
					%li Aqui te desarrollaras como profesional en el area de leyes.
.container-fluid.no-space.top-margin-md
	.col-md-12.no-space.bg-gray
		.col-md-4.no-space=image_tag "Preparatoria.jpg", width: 400, height: 220, class: ""
		.col-md-1
		.col-md-6
			%h2.top-margin.white-text.text-center Preparatoria en un Examen
.container
	.col-md-12
		.col-md-5
		.col-md-7.top-margin
			%h4.text-info Que aprenderás en esta carrera?
			.col-md-1
			.col-md-11.gray-text
				%p Aqui te desarrollaras como profesional en el area de leyes. Aqui te desarrollaras como profesional en el area de leyes. Aqui te desarrollaras como profesional en el area de leyes. Aqui te desarrollaras como profesional en el area de leyes. Aqui te desarrollaras como profesional en el area de leyes.
				%ul
					%li Aqui te desarrollaras como profesional en el area de leyes.
					%li Aqui te desarrollaras como profesional en el area de leyes.
					%li Aqui te desarrollaras como profesional en el area de leyes.
					%li Aqui te desarrollaras como profesional en el area de leyes.
					%li Aqui te desarrollaras como profesional en el area de leyes.
					%li Aqui te desarrollaras como profesional en el area de leyes.