.container-fluid.border-top
	.container-fluid
		.col-md-12.text-center.cover.top-margin-md
			%ul.list-unstyled
				%li.img-thumbnail= image_tag "licenciaturas.jpg"
				%li.img-thumbnail= image_tag "banner.png"
				%li.img-thumbnail= image_tag "licenciaturas.jpg"
				%li.img-thumbnail= image_tag "banner.png"
		.col-md-12
			%h2.green-text.text-center ¿Quienes Somos?
	.container
		.col-md-12.top-margin-md
			.col-md-3.text-center
				%h3.text-center Misión
				=image_tag "lic.png"
				%p.text-justify Otorgar espacios a cualquiera que desee obtener una formación profesional para contribuir a un cambio cognitivo y pragmático del conocimiento, logrando así un impulso en el mejoramiento social.
			.col-md-3.col-md-offset-1.text-center
				%h3.text-center Visión
				=image_tag "campus.png"
				%p.text-justify Generadora y exportadora internacional de personas capacitadas y dominantes del conocimiento analítico en áreas de aplicación des mismo, tanto humana como profesionalmente, dejando huella encada parte de la calidad de la formación.
			.col-md-4.col-md-offset-1.text-center
				%h3.text-center Filosofía
				=image_tag "social.png"
				%p.text-justify Veracidad: para actuar con certeza 
				%p.text-justify Libertad: para auto determinarse límites 
				%p.text-justify Integridad: para ser ejemplo a seguir
				%p.text-justify Responsabilidad: para entender la obligación en el actuar social 
				%p.text-justify Entrega: para darlo todo por lo que se ama y se hace con pasión