.container
	.col-md-4.col-md-offset-4.col-sm-6.border.small-margin
		%h4.text-center.gray-text= @post.title
		.imagen.padding-sm.puntero=image_tag @post.image
		%p.padding-sm= @post.description[0..140] + "..."
		= link_to 'Editar', edit_post_path(@post)
		\|
		= link_to 'Regresar', posts_path