.container-fluid.top-margin
  .col-md-12.imagen
    .contenedor-img.ejemplo-1.no-space.col-xs-12.col-sm-6.col-md-3
      =image_tag "derecho.jpg"
      .mascara
        %h2 Licenciatura en Derecho
        %p Para quien muestra iniciativa, sensibilidad hacia los problemas sociales y actitud ética.
    .contenedor-img.ejemplo-1.no-space.col-xs-12.col-sm-6.col-md-3
      =image_tag "educacion.jpg"
      .mascara
        %h2 Licenciatura en Educación
        %p Para quien muestra interés por la investigación de temas educativos y construir un mejor futuro.
    .contenedor-img.ejemplo-1.no-space.col-xs-12.col-sm-6.col-md-3
      =image_tag "psicologia.jpg"
      .mascara
        %h2 Licenciatura en Psicología
        %p Te preparamos para desarrollarte profesionalmente en el campo del comportamiento humano.
    .contenedor-img.ejemplo-1.no-space.col-xs-12.col-sm-6.col-md-3
      =image_tag "forense.jpg"
      .mascara
        %h2 Licenciatura en Ciencias Forenses
        %p Profesional experto en el tratamiento de evidencia para lograr la máxima certeza en los juicios de responsabilidad.
    .contenedor-img.ejemplo-1.no-space.col-xs-12.col-sm-6.col-md-3.hidden-xs
      =image_tag "social.jpg"
      .mascara
        %h2 Licenciatura en Trabajo Social
        %p Contamos con la licenciatura en educación, para todas las personas que tienen el don de enseñar.
    .contenedor-img.ejemplo-1.no-space.col-xs-12.col-sm-6.col-md-3.hidden-xs
      =image_tag "medicina.jpg"
      .mascara
        %h2 Maestría en Medicina Legal
        %p Especialidad complementaria que apoya en el desempeño específico basado en los conocimientos médicos.
    .contenedor-img.ejemplo-1.no-space.col-xs-12.col-sm-6.col-md-3.hidden-xs
      =image_tag "Preparatoria.jpg"
      .mascara
        %h2 Preparatoria en un Examen
        %p Realiza tu preparatoria en un solo examen, nosotros te asesoramos.
    .contenedor-img.ejemplo-1.no-space.col-xs-12.col-sm-6.col-md-3.hidden-xs
      =image_tag "arte.jpg"
      .mascara
        %h2 Nuestros Horarios
        %p Para que no te quedes sin estudiar contamos con turno vespertino y turno sabatino. 