%footer.col-md-12.bg-black.top-padding.top-margin
	.col-sm-4.col-md-4.text-center
		%h3.white-text.bottom-margin Síguenos
		%p=link_to "Facebook", "http://www.facebook.com/universidaddeparral"
		%p=link_to "Twitter", "http://www.facebook.com/universidaddeparral"
		%p=link_to "Instagram", "http://www.facebook.com/universidaddeparral"
	.col-sm-4.col-md-4.text-center.green-text
		%h3.white-text.bottom-margin Contacto
		%p C. Lopez Mateos # 234, col. Centro
		%p Tel: 627 121 1645
		%p hola@universidaddeparral.com
	.col-sm-4.col-md-4.text-center.green-text
		%h3.white-text.bottom-margin Licenciaturas
		%p Derecho
		%p Educación
		%p Psocología
		%p Ciencias Forenses
		%p Trabajo Social