%footer
	.col-md-12.bg-black.top-padding.top-margin
		.col-md-4.green-text.top-margin
			%h4.white-text.bottom-margin.text-center Contacto
			.row
				.col-md-2.col-md-offset-1
					=image_tag "location.png", width: 35, class: "opaco"
				.col-md-9
					%p Boulevard Ortiz Mena y Calle Sonora
					%p Parral, Chihuahua, México
			.row.top-padding
				.col-md-2.col-md-offset-1
					=image_tag "tel.png", width: 35, class: "opaco"
				.col-md-9
					%p Tel: 627 121 1645
			.row.top-padding
				.col-md-2.col-md-offset-1
					=image_tag "mail.png", width: 35, class: "opaco"
				.col-md-9
					%p hola@universidaddeparral.com
		.col-md-4.text-center.top-margin
			%h4.white-text.bottom-margin Síguenos en:
			=link_to (image_tag "facebook.png", width: 40), "http://www.facebook.com/universidaddeparral", class: "opaco"
			=link_to (image_tag "twitter.png", width: 50), "https://twitter.com/udpparral", class: "opaco"
			=link_to (image_tag "google.png", width: 40), "http://www.facebook.com/universidaddeparral", class: "opaco"
			=link_to (image_tag "youtube.png", width: 45), "http://www.facebook.com/universidaddeparral", class: "opaco"
		.col-md-4.text-center.green-text.hidden-xs.top-margin
			%h4.white-text.bottom-margin Licenciaturas
			%p Derecho
			%p Educación
			%p Psocología
			%p Trabajo Social
			%p Ciencias Forenses
			%p Maestría en Medicina Legal
		.col-md-12.text-center
			%p=link_to "By Jesco Marketing", "http://www.jescomarketing.com"
			%small @Copyright 2016