.container-fluid.imagen.no-space.top-margin
  .col-md-12.imagen
    .contenedor-img.ejemplo-1.no-space.col-xs-12.col-sm-6.col-md-3.thumbnail
      =image_tag "foto4.jpg"
    .contenedor-img.ejemplo-1.no-space.col-xs-12.col-sm-6.col-md-3.thumbnail
      =image_tag "foto3.jpg"
    .contenedor-img.ejemplo-1.no-space.col-xs-12.col-sm-6.col-md-3.thumbnail
      =image_tag "foto6.jpg"
    .contenedor-img.ejemplo-1.no-space.col-xs-12.col-sm-6.col-md-3.thumbnail
      =image_tag "foto7.jpg"
    .contenedor-img.ejemplo-1.no-space.col-xs-12.col-sm-6.col-md-3.thumbnail
      =image_tag "foto1.jpg"
    .contenedor-img.ejemplo-1.no-space.col-xs-12.col-sm-6.col-md-3.thumbnail
      =image_tag "foto2.jpg"
    .contenedor-img.ejemplo-1.no-space.col-xs-12.col-sm-6.col-md-3.thumbnail
      =image_tag "foto5.jpg"
    .contenedor-img.ejemplo-1.no-space.col-xs-12.col-sm-6.col-md-3.thumbnail
      =image_tag "foto8.jpg"