.container-fluid.imagen.no-space.top-margin
  .col-md-12.imagen
    .contenedor-img.ejemplo-1.no-space.col-xs-12.col-sm-6.col-md-3.thumbnail
      =image_tag "foto1.JPG"
    .contenedor-img.ejemplo-1.no-space.col-xs-12.col-sm-6.col-md-3.thumbnail
      =image_tag "foto3.JPG"
    .contenedor-img.ejemplo-1.no-space.col-xs-12.col-sm-6.col-md-3.thumbnail
      =image_tag "foto6.JPG"
    .contenedor-img.ejemplo-1.no-space.col-xs-12.col-sm-6.col-md-3.thumbnail
      =image_tag "foto7.JPG"
    .contenedor-img.ejemplo-1.no-space.col-xs-12.col-sm-6.col-md-3.thumbnail.visible-lg
      =image_tag "foto4.JPG"
    .contenedor-img.ejemplo-1.no-space.col-xs-12.col-sm-6.col-md-3.thumbnail.visible-lg
      =image_tag "foto8.JPG"
    .contenedor-img.ejemplo-1.no-space.col-xs-12.col-sm-6.col-md-3.thumbnail.visible-lg
      =image_tag "foto5.JPG"
    .contenedor-img.ejemplo-1.no-space.col-xs-12.col-sm-6.col-md-3.thumbnail.visible-lg
      =image_tag "foto2.JPG"