.container-fluid.top-margin-md
  .col-lg-12.imagen
    .contenedor-img.ejemplo-1.no-space.col-sm-6.col-md-3
      =image_tag "derecho.jpg", title: "Licenciado en Derecho"
      .mascara
        %h2 Licenciatura en Derecho
        %p Para quien muestra iniciativa, sensibilidad hacia los problemas sociales y actitud ética.
    .contenedor-img.ejemplo-1.no-space.col-sm-6.col-md-3
      =image_tag "educacion.jpg", title: "Licenciado en Educacion"
      .mascara
        %h2 Licenciatura en Educación
        %p Para quien muestra interés por la investigación de temas educativos y construir un mejor futuro.
    .contenedor-img.ejemplo-1.no-space.col-sm-6.col-md-3
      =image_tag "social.jpg", title: "Licenciado en Psicología"
      .mascara
        %h2 Licenciatura en Psicología
        %p Te preparamos para desarrollarte profesionalmente en el campo del comportamiento humano.
    .contenedor-img.ejemplo-1.no-space.col-sm-6.col-md-3
      =image_tag "forense.jpg", title: "Licenciado en Ciencias Forenses"
      .mascara
        %h2 Licenciatura en Ciencias Forenses
        %p Profesional experto en el tratamiento de evidencia para lograr la máxima certeza en los juicios de responsabilidad.
    .contenedor-img.ejemplo-1.no-space.col-sm-6.col-md-3
      =image_tag "social.jpg", title: "Licenciado en Trabajo Social"
      .mascara
        %h2 Licenciatura en Trabajo Social
        %p Contamos con la licenciatura en educación, para todas las personas que tienen el don de enseñar.
    .contenedor-img.ejemplo-1.no-space.col-sm-6.col-md-3
      =image_tag "forense.jpg", title: "Maestría en Medicina Legal"
      .mascara
        %h2 Maestría en Medicina Legal
        %p Especialidad complementaria que apoya en el desempeño específico basado en los conocimientos médicos.
    .contenedor-img.ejemplo-1.no-space.col-sm-6.col-md-3
      =image_tag "educacion.jpg", title: "Preparatoria en un Examen"
      .mascara
        %h2 Preparatoria en un Examen
        %p Realiza tu preparatoria en un solo examen, nosotros te asesoramos.
    .contenedor-img.ejemplo-1.no-space.col-sm-6.col-md-3
      =image_tag "arte.jpg", title: "Licenciado en Educacion"
      .mascara
        %h2 Licenciatura en Educación
        %p Contamos con la licenciatura en educación, para todas las personas que tienen el don de enseñar.