.container
	.col-md-12.top-padding.bottom-padding.top-margin-md
		%h2.text-center.text-info Noticias Recientes
	.col-md-4.border
		%h4.text-center.gray-text Apoyando la zona rural.
		.imagen.padding-sm.puntero=image_tag "social.jpg", { "data-toggle" => "modal", "data-target" => "#myModal" }
		%p.padding-sm Algunos de nuestros estudiantes, se reunieron para apoyar en zonas rurales, donde más necesitan.
		%button{ "type" => "button", "class" => "btn btn-primary btn-sm pull-right", "data-toggle" => "modal", "data-target" => "#myModal" } Leer Más
		.modal.fade#myModal{ "tabindex" => "-1", "role" => "dialog", "aria-labelledby" => "myModalLabel" }
			.modal-dialog{ "role" => "document" }
				.modal-content
					.modal-header.bg-green
						%button{ "type" => "button", "class" => "close", "data-dismiss" => "modal", "aria-label" => "Close"}
							%span{ "aria-hidden" => "true"} &times;
						%h4.text-center.white-text.bottom-padding-xs#myModalLabel Apoyando la zona rural
					.modal-body.bg-success
						.imagen.padding-sm=image_tag "social.jpg"
						%p.padding-sm Algunos de nuestros estudiantes, se reunieron para apoyar en zonas rurales, donde más necesitan. Estuvieron repartiendo cobertores para este tiempo de frio, ya que hay zonas donde la temperatura baja hasta los -10 grados centigrados. Algunos de nuestros estudiantes, se reunieron para apoyar en zonas rurales, donde más necesitan. Estuvieron repartiendo cobertores para este tiempo de frio, ya que hay zonas donde la temperatura baja hasta los -10 grados centigrados.
					.modal-footer
						%br
						%button{ "type" => "button", :class => "btn btn-primary btn-sm", "data-dismiss" => "modal"} Close
	.col-md-4.border
		%h4.text-center.gray-text Apoyando la zona rural.
		.imagen.padding-sm.puntero=image_tag "social.jpg", { "data-toggle" => "modal", "data-target" => "#myModal" }
		%p.padding-sm Algunos de nuestros estudiantes, se reunieron para apoyar en zonas rurales, donde más necesitan.
		%button{ "type" => "button", "class" => "btn btn-primary btn-sm pull-right", "data-toggle" => "modal", "data-target" => "#myModal" } Leer Más
		.modal.fade#myModal{ "tabindex" => "-1", "role" => "dialog", "aria-labelledby" => "myModalLabel" }
			.modal-dialog{ "role" => "document" }
				.modal-content
					.modal-header.bg-green
						%button{ "type" => "button", "class" => "close", "data-dismiss" => "modal", "aria-label" => "Close"}
							%span{ "aria-hidden" => "true"} &times;
						%h4.text-center.white-text.bottom-padding-xs#myModalLabel Apoyando la zona rural
					.modal-body.bg-success
						.imagen.padding-sm=image_tag "social.jpg"
						%p.padding-sm Algunos de nuestros estudiantes, se reunieron para apoyar en zonas rurales, donde más necesitan. Estuvieron repartiendo cobertores para este tiempo de frio, ya que hay zonas donde la temperatura baja hasta los -10 grados centigrados. Algunos de nuestros estudiantes, se reunieron para apoyar en zonas rurales, donde más necesitan. Estuvieron repartiendo cobertores para este tiempo de frio, ya que hay zonas donde la temperatura baja hasta los -10 grados centigrados.
					.modal-footer
						%br
						%button{ "type" => "button", :class => "btn btn-primary btn-sm", "data-dismiss" => "modal"} Close
	.col-md-4.border
		%h4.text-center.gray-text Apoyando la zona rural.
		.imagen.padding-sm.puntero=image_tag "social.jpg", { "data-toggle" => "modal", "data-target" => "#myModal" }
		%p.padding-sm Algunos de nuestros estudiantes, se reunieron para apoyar en zonas rurales, donde más necesitan.
		%button{ "type" => "button", "class" => "btn btn-primary btn-sm pull-right", "data-toggle" => "modal", "data-target" => "#myModal" } Leer Más
		.modal.fade#myModal{ "tabindex" => "-1", "role" => "dialog", "aria-labelledby" => "myModalLabel" }
			.modal-dialog{ "role" => "document" }
				.modal-content
					.modal-header.bg-green
						%button{ "type" => "button", "class" => "close", "data-dismiss" => "modal", "aria-label" => "Close"}
							%span{ "aria-hidden" => "true"} &times;
						%h4.text-center.white-text.bottom-padding-xs#myModalLabel Apoyando la zona rural
					.modal-body.bg-success
						.imagen.padding-sm=image_tag "social.jpg"
						%p.padding-sm Algunos de nuestros estudiantes, se reunieron para apoyar en zonas rurales, donde más necesitan. Estuvieron repartiendo cobertores para este tiempo de frio, ya que hay zonas donde la temperatura baja hasta los -10 grados centigrados. Algunos de nuestros estudiantes, se reunieron para apoyar en zonas rurales, donde más necesitan. Estuvieron repartiendo cobertores para este tiempo de frio, ya que hay zonas donde la temperatura baja hasta los -10 grados centigrados.
					.modal-footer
						%br
						%button{ "type" => "button", :class => "btn btn-primary btn-sm", "data-dismiss" => "modal"} Close
	.col-md-4.border
		%h4.text-center.gray-text Apoyando la zona rural.
		.imagen.padding-sm.puntero=image_tag "social.jpg", { "data-toggle" => "modal", "data-target" => "#myModal" }
		%p.padding-sm Algunos de nuestros estudiantes, se reunieron para apoyar en zonas rurales, donde más necesitan.
		%button{ "type" => "button", "class" => "btn btn-primary btn-sm pull-right", "data-toggle" => "modal", "data-target" => "#myModal" } Leer Más
		.modal.fade#myModal{ "tabindex" => "-1", "role" => "dialog", "aria-labelledby" => "myModalLabel" }
			.modal-dialog{ "role" => "document" }
				.modal-content
					.modal-header.bg-green
						%button{ "type" => "button", "class" => "close", "data-dismiss" => "modal", "aria-label" => "Close"}
							%span{ "aria-hidden" => "true"} &times;
						%h4.text-center.white-text.bottom-padding-xs#myModalLabel Apoyando la zona rural
					.modal-body.bg-success
						.imagen.padding-sm=image_tag "social.jpg"
						%p.padding-sm Algunos de nuestros estudiantes, se reunieron para apoyar en zonas rurales, donde más necesitan. Estuvieron repartiendo cobertores para este tiempo de frio, ya que hay zonas donde la temperatura baja hasta los -10 grados centigrados. Algunos de nuestros estudiantes, se reunieron para apoyar en zonas rurales, donde más necesitan. Estuvieron repartiendo cobertores para este tiempo de frio, ya que hay zonas donde la temperatura baja hasta los -10 grados centigrados.
					.modal-footer
						%br
						%button{ "type" => "button", :class => "btn btn-primary btn-sm", "data-dismiss" => "modal"} Close
	.col-md-4.border
		%h4.text-center.gray-text Apoyando la zona rural.
		.imagen.padding-sm.puntero=image_tag "social.jpg", { "data-toggle" => "modal", "data-target" => "#myModal" }
		%p.padding-sm Algunos de nuestros estudiantes, se reunieron para apoyar en zonas rurales, donde más necesitan.
		%button{ "type" => "button", "class" => "btn btn-primary btn-sm pull-right", "data-toggle" => "modal", "data-target" => "#myModal" } Leer Más
		.modal.fade#myModal{ "tabindex" => "-1", "role" => "dialog", "aria-labelledby" => "myModalLabel" }
			.modal-dialog{ "role" => "document" }
				.modal-content
					.modal-header.bg-green
						%button{ "type" => "button", "class" => "close", "data-dismiss" => "modal", "aria-label" => "Close"}
							%span{ "aria-hidden" => "true"} &times;
						%h4.text-center.white-text.bottom-padding-xs#myModalLabel Apoyando la zona rural
					.modal-body.bg-success
						.imagen.padding-sm=image_tag "social.jpg"
						%p.padding-sm Algunos de nuestros estudiantes, se reunieron para apoyar en zonas rurales, donde más necesitan. Estuvieron repartiendo cobertores para este tiempo de frio, ya que hay zonas donde la temperatura baja hasta los -10 grados centigrados. Algunos de nuestros estudiantes, se reunieron para apoyar en zonas rurales, donde más necesitan. Estuvieron repartiendo cobertores para este tiempo de frio, ya que hay zonas donde la temperatura baja hasta los -10 grados centigrados.
					.modal-footer
						%br
						%button{ "type" => "button", :class => "btn btn-primary btn-sm", "data-dismiss" => "modal"} Close
	.col-md-4.border
		%h4.text-center.gray-text Apoyando la zona rural.
		.imagen.padding-sm.puntero=image_tag "social.jpg", { "data-toggle" => "modal", "data-target" => "#myModal" }
		%p.padding-sm Algunos de nuestros estudiantes, se reunieron para apoyar en zonas rurales, donde más necesitan.
		%button{ "type" => "button", "class" => "btn btn-primary btn-sm pull-right", "data-toggle" => "modal", "data-target" => "#myModal" } Leer Más
		.modal.fade#myModal{ "tabindex" => "-1", "role" => "dialog", "aria-labelledby" => "myModalLabel" }
			.modal-dialog{ "role" => "document" }
				.modal-content
					.modal-header.bg-green
						%button{ "type" => "button", "class" => "close", "data-dismiss" => "modal", "aria-label" => "Close"}
							%span{ "aria-hidden" => "true"} &times;
						%h4.text-center.white-text.bottom-padding-xs#myModalLabel Apoyando la zona rural
					.modal-body.bg-success
						.imagen.padding-sm=image_tag "social.jpg"
						%p.padding-sm Algunos de nuestros estudiantes, se reunieron para apoyar en zonas rurales, donde más necesitan. Estuvieron repartiendo cobertores para este tiempo de frio, ya que hay zonas donde la temperatura baja hasta los -10 grados centigrados. Algunos de nuestros estudiantes, se reunieron para apoyar en zonas rurales, donde más necesitan. Estuvieron repartiendo cobertores para este tiempo de frio, ya que hay zonas donde la temperatura baja hasta los -10 grados centigrados.
					.modal-footer
						%br
						%button{ "type" => "button", :class => "btn btn-primary btn-sm", "data-dismiss" => "modal"} Close